/*个人信息美化*/
#aside-content>.card-widget.card-info {
  background: #fff url(https://www.eacls.top/img/info.webp) top 33% center no-repeat;
  position: relative;
}
#aside-content .card-info #card-info-btn {
  display: none;
}
#aside-content .card-info .author-info__name {
  font-weight: 700;
  color: black;
}
#aside-content .card-info .author-info__description {
  font-weight: 600;
  color: black;
}
.site-data > a .headline {
  color: rgb(0 0 0 / 100%);
}
  
/*底部和全局圆角*/
#pagination .page-number.current {
  background: #2d587a;
  color: #fff;
}
.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space) {
  border-radius: 19px;
}
#pagination .page-number.current {
  border-radius: 19px;
}


/*外链字体引入*/
@font-face {
	font-family: Efont;
  font-display: swap;
	src: url('https://cdn.cnbj1.fds.api.mi-img.com/mi-font-service/misans/500/lt.53f5494eba0de730.0.woff2') format('woff2')
      }

/*顶栏美化*/
#nav .site-page {
  font-size: 0.79em;
  letter-spacing: 3px;
  font-weight: 600;
}

#nav {
  height: 70px;
}
#page-header.nav-fixed #nav {
  top: -70px;
}

 /* 文章目录 */
 #aside-content #card-toc .toc-content {
  margin: 10px -18px;
}
 #aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-radius: 12px;
  border-left-color: var(--heo-hovertext);
  background-color: var(--heo-card-bg);
  color: var(--heo-lighttext);
  font-weight: bold;
  font-size: 20px;
}
[data-theme=dark].toc .toc-item.active .toc-link .toc-text {
  color: var(--heo-white);
}
#aside-content #card-toc .toc-content .toc-item.active .toc-link {
  opacity: 1;
  border-radius: 8px;
}
#aside-content #card-toc .toc-content .toc-link {
  line-height: 1.2;
  padding: 8px;
  border-left: 0px solid transparent;
  border-radius: 12px;
  color: var(--heo-secondtext);
  cursor: default;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: 0.3s;
}
#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}
#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
  color: var(--heo-lighttext);
}

/* 文章标题 */
#post-info .post-title {
  color: var(white);
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.2;
  text-align: center;
  margin: 1rem 0 1rem 0 !important;
  -webkit-line-clamp: 2;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #post-info .post-title {
    font-size: 1.6rem;
    -webkit-line-clamp: 3;
    margin: 0.2rem auto !important;
    text-align: center;
    z-index: 1;
  }
}

/*信息栏底部圆角*/
#page-header.post-bg:before {
  background-color: rgb(0 0 0 / 60%);
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

#page-header.post-bg {
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
}

/* 文章顶部其他信息 */
#post-meta>div {
  text-align: center;
  color:white
}
/* 隐藏信息文字 */
#post-info #post-meta .post-meta-label {
  display: none;
}
/* 图标数字间距 */
#post-info #post-meta .post-meta-icon {
  margin-right: 0.3rem;
}
/* 每组间距 */
#post-info #post-meta .post-meta-separator {
  margin: 0px 0.4rem;
}

/*本地搜索美化*/
.search-dialog .search-nav {
    color: #000000;
    font-size: 1.6em;
    line-height: 2;
}
#local-search .search-dialog .local-search-box input {
  padding: 13px 21px;
  border: 3px solid #4182d9;
  border-radius: 11px;
}
hr {
  border: 3px dashed #4f80d8;
}

/*评论背景*/
#twikoo .tk-content {
  background: rgb(213 213 213 / 60%);
  padding: 10px 15px;
  border-radius: 7px;
}

/*右下角按钮*/
#rightside > div > button, #rightside > div > a {
  display: block;
  margin-bottom: 6px;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #f1f1f1;
  color: #2d587a;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/* 版权信息 */
/* 背景 */
#post .post-copyright {
  background: var(--heo-card-bg);
  padding: 2rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  transition: 0.3s;
  border-radius: 11px;
}

#post .post-copyright:after {
  position: absolute;
  right: 22px;
  top: -77px;
  content: '\f25e';
  font-size: 180px;
  font-family: 'Font Awesome 5 Brands';
  color: var(--heo-fontcolor);
  opacity: 0.4;
  filter: blur(7px);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    padding: 1rem 1.3rem;
  }
}

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

@media screen and (max-width: 768px) {
  #post .post-copyright {
    box-shadow: var(--heo-shadow-border);
  }

  .post-copyright .post-meta-original {
    display: none;
  }

  .post-copyright__original {
    display: none;
  }

  #post .post-copyright:after {
    display: none;
  }
}


/* 作者名 */
#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
}

#post .post-copyright .post-copyright__notice .post-copyright-info a {
  padding: 0 4px;
}

#post .post-copyright .post-copyright-info a:hover {
  color: var(--heo-lighttext);
}

#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post .post-copyright .post-copyright-title {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: bold;
}

#post .post-copyright .post-copyright-title:hover {
  color: var(--heo-lighttext);
}

#post>div.post-copyright>div.post-copyright__author>span>span {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.38;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  #post>div.post-copyright>div.post-copyright__author>span>span {
    -webkit-line-clamp: 3;
  }

  #post .post-copyright .post-copyright-info {
    -webkit-line-clamp: 2;
  }

  #post .post-copyright .post-copyright-title {
    -webkit-line-clamp: 3;
    line-height: 1.2;
  }
}

/* 链接 */
#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type>span>a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post>div.post-copyright>div.post-copyright__type>span>a:hover {
  opacity: 1;
  background: none;
}

#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* 提示 */
#post>div.post-copyright>div.post-copyright__notice {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0.5rem 0;
}
/*装饰圈*/
#post .post-copyright:before {
  display: none;
}

#post .post-copyright .post-copyright-meta {
    color: #5a7ed7;
    font-weight: bold;
}
#post .post-copyright {
    padding: 2rem 1.3rem;
    border-radius: 11px;
    border-style: solid;
}

/* 相关推荐 */
.relatedPosts>.relatedPosts-list>div {
  border-radius: 12px;
} 
.relatedPosts>.headline {
margin-bottom: 0.8rem !important;
font-size: 1.2em;
}

/*文章内图片圆角*/
#article-container img {
  border-radius: 11px;
}

/*侧边滑动条*/
*::-webkit-scrollbar {
  width: 10px;
}
:root {
  --scrollbar-color: #c1c1c1;
}

/*友链美化*/
#article-container .flink .flink-list > .flink-list-item {
  margin: 15px 7px;
  height: 99px;
  border-radius: 11px;
  line-height: 17px;
  border-style: groove;
  border-color: #f4f4f4;
}
/* 头像微调 */
.flink-item-icon {
  margin-right: 0 !important;
  transition: .5s !important;
}
.flink-item-name,
.flink-item-desc {
  padding-left: 10px !important;
}
/* 去掉原来自带的before */
#article-container .flink .flink-list>.flink-list-item::before {
  content: none;
}

/* 鼠标经过改变文字颜色 */
#article-container .flink .flink-list>.flink-list-item:hover a {
  color: white !important;
}
/* 鼠标经过头像滚动 */
#article-container .flink .flink-list>.flink-list-item:hover .flink-item-icon {
  width: 60px;
  margin-left: -70px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
/*侧边栏标签美化*/
#aside-content .card-tag-cloud a {
  color: var(--heo-fontcolor) !important;
  font-size: 0.8rem;
  border-radius: 9px;
  border-style: dashed;
}
#aside-content .item-headline {
  font-weight: 700;
}


/*选中颜色*/
*::selection {
  background: #df3030;
  color: #f7f7f7;
}

/*全局背景*/
#web_bg {
    background: linear-gradient(180deg,#fff1eb,#ace0f9)
}

/*文章页卡片宽幅占比*/
.layout {
            max-width: 1280px;
      }



/*文章页卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 35px;
}

/*文章页信息栏美化*/
#post-info .post-title {
  font-weight: 600; /*字体粗细*/
  font-size: 2.5em; /*字体大小*/
  line-height: 2.2; /*元素高度*/
  letter-spacing: 9px; /*字体间距*/
}

/*信息栏高度调整*/
#page-header.post-bg {
  height: 26rem;
}

/*Web端信息栏适配*/
@media screen and (min-width: 421px){
  #page-header #post-info {
    bottom: 8rem;
}
}

/*Wap端信息栏适配*/
@media screen and (max-width: 420px){
  #page-header #post-info {
    bottom: 2rem;
}
}
