@font-face{
    font-family: "HYWenHei";
    src: url("../font/HYWenHei.ttf");   
}

body {
    font-family: 'shouxie';
}

#he-plugin-standard{
    width:100%!important;
    margin-bottom:20px!important;
}
.wv-lt-location>a[data-v-4b9dcab4],.wv-lt-location>span[data-v-4b9dcab4],.wv-n-h-now-tmp>span[data-v-5f4c0628],.wv-n-h-now-txt>span[data-v-5f4c0628],.wv-n-h-now-rain>a[data-v-5f4c0628], .wv-n-h-now-rain>span[data-v-5f4c0628],.wv-f-forecast-date>a[data-v-66693262],.wv-f-a{
    color:var(--font-color)!important;
    font-family: 'HYTMR','Microsoft Yahei','PingFang SC','SimSun'!important;
    font-size:14px
}
.wv-n-h-now-aqi-item {
    display: none;
}




.page #page:not(.home #page){
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    padding-top: 0;
    backdrop-filter: none!important;
}
#page::before{
    position: fixed;
    z-index:-114;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    content:'';
    backdrop-filter: blur(10px);
    background:var(--lyx-white-acrylic2);
}
[data-theme="dark"] #page::before{
    background-color: var(--lyx-black-acrylic2)!important;
}
.swiper-button-next:after, .swiper-button-prev:after{
    color:#66ccff!important; /*自己改*/
}

#home_top {
    margin: 1rem auto 0;
    padding: 0px 15px;
    max-width: 1450px;
    width: 100%;
  }






