

#random{
    height: 100%;
    padding-left: 10px;
    width: 40%!important;
    background-color: var(--lyx-white-acrylic1)!important;
    border-radius: 8px;
    margin-right: 10px !important;
    font-family: PingFang,微软雅黑,HYTMR,SimSun;
    background-size:cover;
    color:var(--lyx-white);
    font-size:30px; /*觉得小可以开大一点*/
    position: relative;
}
#random-banner{
    width:100%!important;
    height:180px;
    border-radius:8px;
}
#random-hover{
    position:absolute;
    right:0%;
    height:90%!important;
    color:var(--lyx-0);
    border-radius: 8px;
}
#random-hover:hover{
   color:#ffffff;
   background-color: #425aefdd;
   backdrop-filter: blur(10px) saturate(180%);
   -webkit-backdrop-filter: blur(10px) saturate(180%);
}


